*{
    margin: 0;
}

body{
    padding: 0 4rem;
}

h1 {
    text-align: center;
    margin: 1em;
}

button{
    cursor: pointer;
}

.errorText {
    color: red;  /* No pongas los colores por defecto, metelos con hexadecimal */
    /* Si te animas mete los colores en variables, y tiras del var() para usar el color en todos sitios */
    font-size: small; /* Igual, ponlo exacto porque esto depende del navegador el que tenga por defecto */
    display: none;
}

#songControlsPanelContainer {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap;  Esto solo vale para responsive */
    border: 2px solid black;
    padding: 1rem;
}

.songControlsPanel p{
    font-size: 22px;
    padding: 0.5rem 0;
    text-align: center;
}


.songControlsPanel__inputContainer{
    font-size: 3rem;
    width: 15rem;
    display: flex;
}

.songControlsPanel__inputContainer span{
    margin: auto;
}


.songControlsPanel__inputContainer input{
    display: flex;
    border: none;
    font-size: 3rem;
    width: 7rem;
    background-color: transparent;
}


#musicControlsBar {
    margin-top: 4em;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    position: relative;
}

#musicControlsBar__playerButtons {
    display: flex;
}

#volumeInput{
    margin: auto 0;
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
    margin: auto 1rem;
    cursor: pointer;
}

.musicControlButton{
    width: 50px;
    height: 50px;
}


#chordBar {
    display: flex;
    overflow-x: scroll;
    scrollbar-gutter: stable;
    border: 1px solid #000;
}

.chordBox {
    min-width: 200px;
    height: 300px;
    background-color: rgb(233, 232, 232);
    border: 1px solid #000;
}

.modalWindow{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.modalWindow_pContainer{
    background-color: white;
    border: 52px thin #000;
    box-shadow:  0px 0px 20px black;
    padding: 2em;
    z-index: 20;
}