:root {
    --color-primario: #93a0ff;
    --color-secundario: #7c8bff;
    --color-background: #ffffff;
    --color-chord-view-line-blurred: #93a0ff;
    --color-disabled-button: #d2d2d2;
}

body {
    padding: 0 4rem;
}

h1 {
    text-align: center;
    margin: 1em;
}

@font-face {
    font-family: "MusiSync";
    src: url("../fonts/musisync/MusiSync.eot?") format("eot"), url("../fonts/musisync/MusiSync.woff") format("woff"), url("../fonts/musisync/MusiSync.ttf") format("truetype"), url("../fonts/musisync/MusiSync.svg#MusiSync") format("svg");
    font-weight: normal;
    font-style: normal;
}
