#pageNavigationButtons{
    position: relative;
    top: 200px;
}

.error_text{
    display: none;
    font-size: small;
    color: red;
}

input{
    display: inine;
    border: none;
    width: 4.5em;
    background-color: transparent;
}